i32 tries = 6;
i32 secret = 1 + rand() * 19;

while tries > 0 {
	println("Enter a guess between 0 and 20, " + tries as string + " tries remaining");
	
	i32 guess = input() as i32;
	if guess < secret {
		println("Too Small");
	}
	else if guess > secret {
		println("Too Large");
	}
	else {
		println("You Win!");
		tries = 0;
	}
	
	tries = tries - 1;
	if 0 == tries {
		println("Game Over");
	}
}
